.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background-color: black;
    .copy-rights {
        p {
            color: white;
            margin: 0 !important;
            font-family: "Poppins Regular";
        }
    }
    app-social-media {
        float: right;
    }
}
