.navbar {
    background-color: black;
    padding: 0;
    .nav-left {
        display: flex;
        margin: 0 auto;
        padding: 0.5rem 1.75rem;
        .logo img {
            height: 40px;
        }
        .logo .logo-text {
            font-family: "Poppins Semi-bold";
            color: white;
            font-size: 24px;
            padding-left: 20px;
        }
        .navbar-nav {
            .nav-item {
                margin: auto 20px;
                a {
                    color: white;
                    font-size: 16px;
                    font-family: "Poppins Semi-bold";
                }
            }
        }
    }


    .nav-right {
        display: flex;
        align-items: flex-end;
        background-color: yellow;
        padding: 0.5rem 0.5rem 0.5rem 1.75rem;
        transform: skewX(-45deg);
        // margin: 0 20px 0 0;

        .cart-logo {
            -webkit-transform: skew(45deg);
            -moz-transform: skew(45deg);
            -o-transform: skew(45deg);
            img {
                height: 40px;
            }
        }
        .navbar-nav {
            -webkit-transform: skew(45deg);
            -moz-transform: skew(45deg);
            -o-transform: skew(45deg);
            .nav-item {
                margin: auto 20px;
                a {
                    color: black;
                    font-size: 16px;
                    font-family: "Poppins Semi-bold";
                }
            }
        }
    }
    .nav-right::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 100%;
        background: yellow;
        -webkit-transform: skewX(45deg);
        right: -42px;
        top: 0px;
    }
}
