@font-face {
    font-family: "Poppins Regular";
    src: local("Poppins"), url("../../assets/fonts/poppins/POPPINS-REGULAR.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins Semi-bold";
    src: local("Poppins"), url("../../assets/fonts/poppins/POPPINS-SEMIBOLD.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins Semi-bold-italic";
    src: local("Poppins"), url("../../assets/fonts/poppins/POPPINS-SEMIBOLDITALIC.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins Extra-bold";
    src: local("Poppins"), url("../../assets/fonts/poppins/POPPINS-EXTRABOLD.ttf") format("truetype");
}